:root {
  --white: #ffffff;
  --black: #000000;

  --text-primary: var(--white);
  --text-secondary: #5c6975;
}

body {
  min-height: 100vh;
  color: var(--white);
  background: var(--black);
  font-family: "Public Sans", sans-serif;
  margin: 0;
}

/* Text Button Element */
.text-nav-button-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.text-nav-button {
  color: var(--text-secondary);
  font-weight: bold;
  font-size: x-large;
}

.text-nav-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.text-nav-button.active {
 color: var(--text-primary);
}

.white-button {
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.white-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-red {
  background-color: red !important;
  color: white !important;
}


/* Override CanvasJS credit text color */
.canvasjs-chart-credit {
  color: black !important;
}